

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#dialog-box {
  position: absolute;
  bottom: .01%;
  left: 38%;
  text-align: center;
  border: 1px solid;
  border-radius: 25px;
  padding: 10px;
  width: 300px;
  height: 50px;
  background-color: #E9EBEC;
}

#gates-background {
  position: relative;
  bottom: 15px;
  left: 0;
}

#cat-licking {
  position: relative;
}

#cat-sideways {
  position: relative;
  top: 0;
  left: 0;
}

#cat-back {
  position: relative;
}



#open-gate {
  border: 1px solid;
  border-radius: 25px;
}

#responses {
  border: 1px solid;
  background-color: white;
  border-radius: 5px;
  width: fit-content;
  position: absolute;
  bottom: 120px;
  left: 400px;
}
